body {
  
    width: 1440px;
    height: 4554px;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
   
}

.container {
    width: 1192px;
    margin-left: 124px;
}


.header{
    height: 120px;
    background:  #F5F5F5;
}

.logo{
   padding-top: 45px;
   display: inline-block;
   vertical-align: middle;
 }

 .nav {
    display: inline-block;
    vertical-align: middle;
    width: 531px;
    height: 40px;    
    padding-top: 39px;
    padding-left: 216px;
    line-height: 40px;
}

.list-nav{
    margin: 0; 
    padding: 0;  
    list-style: none;
    
}


.nav-li{
    display: inline-block;
    width: 19%;
    text-align: center;
}
    
  
.list-nav-a {

    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    margin-right:30px ;
    width: 20%;
    color: #8E8E8E;
}

.list-nav-a:hover, .list-nav-a:focus {
    color: #69B99D;
    
}


.registr {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 151px;
    height: 40px;
    padding-left: 32px;
    padding-top:39px;
    line-height: 40px;
    
}

.registr-but{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    color: #69B99D;
    text-decoration: none;

}



.login-but{
    display: inline-block; 
    vertical-align: middle;
    width: 130px;
    height: 55px;  
    margin: 39px  0  0 2px;   
    
    border: none;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    
    color: #FFFFFF;
    background: #69B99D;

} 
   

.real-estate {
   
    height: 686px;
    background:  #F5F5F5;
    
}

.placat{
    position: absolute;
    width: 806px;
    height: 761px;
    top: 45px;
    left: 638px;
}

.name_section {
    width: 162px;
    height: 50px;
    
   display: flex;
   align-items: center;
   justify-content: center;
  
   
   
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #69B99D;
    background-color: #FFFFFF;}

    h1, h3, h4{
        margin: 0;
    }

    .title{
        /* width: 605px;
        height: 148px;
        margin-top: 32px; */
        /* justify-content: center;
        align-items: center; */
    }
    
    .title-slogan{
        width: 605px;
        height: 148px;
        margin-top: 32px;
       
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 74px;
        letter-spacing: 0.0025em;
        
        color: #1F2744;
    }

    .estate-article{
        margin-top: 24px;

        width: 502px;
        height: 48px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;


        letter-spacing: 0.0025em;

        color: #73788C;
    }


    .estate-menu {
        margin-top: 64px;
        width: 751px;
        height: 180px;
        background-color: #69B99D;
        
    }
    .estate-menu-buy{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        float: left;

       
        
        width: 109px;
        height: 56px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;

        letter-spacing: 0.0025em;

        color: #69B99D;
                
        background: #FEFEFF;
    }

    .estate-menu-rent{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        float: left;
       
        
        width: 109px;
        height: 56px;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        
        letter-spacing: 0.0025em;

        color: #A6A6A6;

        background: #f5f5f5;
    }

    .estate-menu-search{
        display: block;
       
        height: 124px;

        background: #FEFEFF;
        

        box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
    }









   
    





main{
    background-color: #FEFEFF;
}

.discover {
    width: 1196px;
    height: 701px;
    margin: 120px 122px;
    background-color: black;
    }
 .frame{
     /* position: absolute; */
     margin-left: 124px;
      }   

.discover-n{
    margin-top:120px;
}



.section-name {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #69B99D;


}
