body {
  
    width: 1440px;
    height: 4554px;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
   
}

.container {
    width: 1192px;
    margin-left: 124px;
}


.header{
    height: 120px;
    background:  #F5F5F5;
}

.logo{
   padding-top: 45px;
   display: inline-block;
   vertical-align: middle;
 }

 .nav {
    display: inline-block;
    vertical-align: middle;
    width: 531px;
    height: 40px;    
    padding-top: 39px;
    padding-left: 216px;
    line-height: 40px;
}

.list-nav{
    margin: 0; 
    padding: 0;  
    list-style: none;
    
}


.nav-li{
    display: inline-block;
    width: 19%;
    text-align: center;
}
    
  
.list-nav-a {

    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    margin-right:30px ;
    width: 20%;
    color: #8E8E8E;
}

.list-nav-a:hover, .list-nav-a:focus {
    color: #69B99D;
    
}


.registr {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 151px;
    height: 40px;
    padding-left: 32px;
    padding-top:39px;
    line-height: 40px;
    
}

.registr-but{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    color: #69B99D;
    text-decoration: none;

}



.login-but{
    display: inline-block; 
    vertical-align: middle;
    width: 130px;
    height: 55px;  
    margin: 39px  0  0 2px;   
    
    border: none;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    
    color: #FFFFFF;
    background: #69B99D;

} 
   
   
    /* height: 55px;
    margin-left: 124px;
    margin-top: 32px;
    display: inline-flex;
    align-items: center; */
}

.REAL_ESTATE {
   
    height: 806px;
    width: 1440px;
} 



/* .logo-text{
    margin: 0 0 0 8px;
    width: 67px;
    height: 26px;
       
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #4BA586;

} */

.menu {
    
    width: 531px;
    height: 40px;
    margin-left: 216px;
    display: inline-flex;
    justify-content: space-around;
    
}








   
    

}





.name_head {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background-color: #FFFFFF;
    width: 162px;
    height: 50px;
    left: 124px;
    top: 152px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #69B99D;


}

.placat{
    background: url(.png);
    mix-blend-mode: normal;
    float: right;
    margin-top: -41px;
  
}

.title{
    width: 605px;
    height: 148px;
    justify-content: center;
    align-items: center;
}

.title-slogan{
    position: absolute;
    width: 605px;
    height: 148px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.0025em;
    top: 234px;
    left: 124px;

       color: #1F2744;
}

main{
    background-color: #FEFEFF;
}

.discover {
    width: 1196px;
    height: 701px;
    margin: 120px 122px;
    background-color: black;
    }
 .frame{
     /* position: absolute; */
     margin-left: 124px;
      }   

.discover-n{
    margin-top:120px;
}



.section-name {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #69B99D;


}
